* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: "Roboto",sans-serif;
    line-height: 1.6;
    color: #3e2723;
    background-color: #fdfaf4;
}
h1,h2,h3{
    font-family: "playfair Display", serif;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
header{
    background-color: #4e342e;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    margin-left: 20px;
}
.nav-links a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}
.nav-links a:hover,
.nav-links .active{
    color: #ffca28;
}
.hero{
    height: 90vh;
    background: url('images.jpg') center/cover no-repeat;
    position: relative;
}
.hero-overlay{
    background: rgba(0, 0,0, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.hero-text h1{
    font-size: 3rem;
    margin-bottom: 15px;
}
.hero-text p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.hero-text span{
    color: #ffca28;
    font-weight: bold;
}
.btn{
    display: inline-block;
    padding: 10px 26px;
    background-color: #ffb300;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s ease;
}
.btn:hover{
    background: #ff98ff00;
    transform: translateY(-3px);
}
.section-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    color: #4e342e;
}
.menu-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
}
.menu-item{
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    overflow: hidden;
}
.menu-item img{
    width: 100%;
    height: 250px;
    aspect-ratio: 16 / 10;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}
.menu-item:hover{
    transform: scale(1.05);
}
.menu-item span{
    color: #ff6f00;
    font-weight: bold;
}
.menu{
    margin-bottom: 30px;
}
.about{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}
.about-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.about-text a{
    text-align: center;
}
.about-img{
    flex: 1;
}
.about-img img{
    width: 100%;
    border-radius: 10px;
}
.secondary-btn{
    background: transparent;
    border: 2px solid #ffca28;
    color: #ffca28;
    font-weight: bold;
    padding: 10px 26px;
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease;
}
.secondary-btn:hover{
    background: #ffca28;
    color: #3e2723;
    transform: translateY(-3px);
}
#about{
    padding: 60px 0;
}
.offers {
    background: #ffe0b2;
    padding: 60px 0;
}
.offers-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.offers-card{
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.offers h3{
    color: #bb601a;
}
.offers-card:hover{
    cursor: pointer;
    transform: translateY(5px);
}
.testimonials{
    background-color: #fff3e0 !important;
    padding: 50px 0;
}
.testimonials-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.testimonials{
    background: #fff3e0;
    border-radius: 10px;
    padding: 20px;
    font-style: italic;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
}
.contact form{
    display: grid;
    gap: 15px;
    max-width: 500px;
    margin: auto;
}
.contact input,
.contact textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact button{
    border: none;
    cursor: pointer;
}
#contact{
    margin-bottom: 30px;
}
footer{
    background: #4e342e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.social-links img{
    height: 25px;
    width: auto;
    transition: transform 0.3s ease;
}
.social-links img:hover{
    transform: scale(1.2);
}
@media (max-width: 768px) {
    
    nav{
        flex-direction: column;
        align-items: center;
    }
    nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        width:100%;
        text-align:center;
    }

    .hero{
        flex-direction: column;
        text-align:center;
    }

    .menu-grid,
    .offers-grid,
    .testimonial-grid{
        grid-template-columns:1fr;
    }

    img{
        width:100%;
        height:auto;
    }

    .container{
        width:90%;
    }

}